<!DOCTYPE html>
<html>
  <head>
    <title>Usuarios</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Usuários</h1>
    <p><a href="/eventos/novo">Novo Usuário Show da Bola</a></p>
    <ul>
      <% console.log("macaco", users) %>

    </ul>
  </body>
</html>
