<!DOCTYPE html>
<html>
  <head>
    <title>Novo Usuario</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Novo Usuário</h1>
    <p>
      <a href="/eventos">Voltar</a>
    </p>  

    <% if (typeof(errors) !="undefined" ) { %>
      <div style="color: red; border: 1px solid red;">
        <ul>
          <% for(var i=0; i < errors.length; i++) { %>
            <li>
              <%= errors[i] %>
            </li>
            <% } %>
        </ul>
      </div>
    <% } %>
    <form action="/eventos/" method="POST">
      <label for="name">Nome de usuario:</label><br>
      <input type="text" id="username" name="username"><br>

      <label for="name">Nome:</label><br>
      <input type="text" id="name" name="name"><br>

      <label for="name">Email:</label><br>
      <input type="text" id="email" name="email"><br>

      <label for="name">Senha:</label><br>
      <input type="text" id="password" name="password"><br>

      <input type="submit" value="Submeter">
    </form>
  </body>
</html>
